<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
    <link href="/static/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js"
            integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<div class="grid grid-cols-5 grid-flow-rows gap-4">
    <div class="col-start-2 col-span-3 border rounded">
        <h1 class="text-8xl text-orange-400 text-center">ToDo</h1>
    </div>
    <div id="detail-view" class="row-start-2 col-start-2 col-span-3">
        {% block detail_view %}
        {% endblock detail_view %}
    </div>
    <div id="content" class="row-start-3 col-start-2 col-span-3 border rounded">
        {% block content %}

        {% endblock content %}
    </div>

</div>
</body>
</html>