{% extends "base.html" %}
<!----------------------------------------------------------->


{% macro tag_creation_macro(tag_value) %}
<span class="border rounded-full m-1 p-1 bg-indigo-300 text-xs">
    {{ tag_value.tag }}
</span>
{% endmacro %}

{% macro tag_todo_macro(tag_value) %}
<span class="border rounded-full m-1 p-1 bg-indigo-300 text-xs">
    {{ tag_value.tag }}
</span>
{% endmacro %}


{% block label_maker %}
<div id="label-maker" class="border rounded p-2 m-2 flex flex-wrap">
    <input class="border rounded min-w-full py-2 px-3 text-gray-700 mb-2"
           id="tag" type="text" name="tag"
           placeholder="Create new label"
           hx-trigger="keyup[key=='Enter']"
           hx-post="{{ url_for('add_tag')}}"
           hx-target="#label-maker"
           hx-swap="beforeend"
           hx-ext="json-enc"
    >
    {% for tag in tags %}
    {{ tag_creation_macro(tag) }}
    {% endfor %}
</div>
{% endblock label_maker %}
<!----------------------------------------------------------->

{% block content %}
<div id="incomplete-tasks" class="border rounded m-2 p-2">
    <input class="border rounded w-full py-2 px-3 text-gray-700"
           id="task" type="text"
           name="task"
           placeholder="Add New Task"
           hx-trigger="keyup[key=='Enter']"
           hx-post="{{ url_for('add_todo')}}"
           hx-target="#tasks-pane"
           hx-swap="beforeend"
           hx-ext="json-enc"
    >
    <!-- List of Tasks -->
    <ul id="tasks-pane">
        {% for todo in todos_incomplete %}
        {% block todo_incomplete scoped %}
        <li>
            <i class="fa-regular fa-square"
               hx-trigger="click"
               hx-put="{{ url_for('update_todo', todo_id=todo.id) }}"
               hx-ext="json-enc"
               hx-vals='{"status":"done"}'
            ></i>
            <span hx-target="#detail-view" hx-trigger="click" hx-get="{{ url_for('get_todo', todo_id=todo.id) }}"
                  hx-swap="innerHTML">
               {{ todo.task }}
            </span>
            {% for tag in todo.tags %}
            {{ tag_todo_macro(tag) }}
            {% endfor %}
        </li>
        {% endblock todo_incomplete %}
        {% endfor %}
    </ul>
</div>
<div id="complete-tasks" class="border rounded m-2 p-2">
    <ul>
        {% for todo in todos_done %}
        {% block todo_complete scoped %}
        <li class="my-1 mx-1" hx-target="this" hx-swap="outerHTML">
            <i class="fa-regular fa-square-check"></i>
            <span hx-target="#detail-view" hx-trigger="click" hx-get="{{url_for('get_todo',todo_id=todo.id)}}"
                  hx-swap="innerHTML">
                {{ todo.task }}
            </span>
            {% for tag in todo.tags %}
            {{ tag_todo_macro(tag) }}
            {% endfor %}
        </li>
        {% endblock todo_complete %}
        {% endfor %}
    </ul>
</div>
{% endblock content %}

<!----------------------------------------------------------->
{% block detail_view %}

<div id="detail-view" class="">
    {% if todo_focus %}
    <div class="border rounded p-2 m-2">
        <!--  <div class="border border-dashed rounded border-red-300 w-full m-1 " hx-target="this" hx-swap="delete"> -->
        <div class="w-full m-1" hx-target="this" hx-swap="delete">
            <!-- <i class="fa-solid fa-xmark" hx-trigger="click"></i> -->
            <p>{{todo_focus.id}}</p>
            <p>{{todo_focus.task}}</p>
            <p>{{todo_focus.created_at}}</p>
            <p>{{todo_focus.status}}</p>
        </div>
        <div>
            {% for tag in todo_focus.tags %}
            {# onclick : remove tag #}
            <span class="border rounded-full m-1 p-1 bg-orange-300 text-xs">
            {{ tag.tag }}
            </span>
            {% endfor %}
        </div>
        <!-- <div class="border border-dashed rounded border-red-300 m-1 w-full"> -->
        <div class="m-1 w-full">
            <span class="border rounded-full h-8 w-8 inline-block flex justify-center">
                <i class="fa-solid fa-plus text-xl"></i>
            </span>
            {% for tag in tags %}
            <span class="border rounded-full m-1 p-1 bg-indigo-300 text-xs"
                  hx-trigger="click"
                  hx-ext="json-enc"
                  hx-put="{{url_for('update_todo', todo_id=todo_focus.id)}}"
                  hx-vals='{"tag_id":{{ tag.id }} }'
            >
                {{ tag.tag }}
            </span>
            {% endfor %}
        </div>
    </div>
    {%endif%}
</div>
{% endblock detail_view %}
